.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #f2f2f2;
}

.now-list-restaurant {
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
}

.now-list-restaurant .list-restaurant {
  margin: 0 -10px;
  position: relative;
}

.now-list-restaurant .item-restaurant {
  width: 20%;
  padding: 10px;
  float: left;
}

.now-list-restaurant .item-restaurant .tag-preferred {
  text-transform: none;
  position: absolute;
  background: #f13233;
  color: #fff;
  bottom: 5px;
  left: 7px;
  z-index: 1;
  padding: 3px 5px;
}

.now-list-restaurant .info-restaurant {
  border: 1px solid #d7d7d7;
  border-radius: 0 0 6px 6px;
  height: 84px;
}

.now-list-restaurant .info-basic-res {
  padding: 5px 8px;
  border-bottom: 1px solid #ebebeb;
}

.now-list-restaurant .info-restaurant .name-res {
  font-size: 14px;
  font-weight: 700;
  color: #252525;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 1px;
  padding-top: 5px;
}

.now-list-restaurant .info-restaurant .address-res {
  font-size: 12px;
  color: #959595;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.now-list-restaurant .content-promotion {
  font-size: 13px;
  color: #187caa;
  font-weight: 700;
  padding: 8px 8px 5px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.now-list-restaurant .img-restaurant img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinning {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
}
